@model Bageriet.ViewModels.MailVM

<section class="panel" id="Inbox" style="margin-left: -16px;">
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">
            Inbox (@Model.InboxList.Count)
            <form action="#" class="pull-right mail-src-position">
                <div class="input-append">
                    <input type="text" class="form-control " placeholder="Search Mail">
                </div>
            </form>
        </h4>
    </header>
    <div class="panel-body minimal">
        <div class="mail-option">
            <div class="pull-left mail-checkbox ">
                <div class="icheckbox_flat-green" style="position: relative;">
                    <input type="checkbox" style="position: absolute; opacity: 0;">
                    <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                </div>
            </div>
            <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-default btn-sm Refresh">
                    <i class=" fa fa-refresh"></i>
                </a>
            </div>

            <ul class="inbox-pag pull-right">
                <li>
                    <span>1-50 of 83</span>
                </li>
                <li>
                    <a class="btn btn-default btn-sm" href="#"><i class="fa fa-angle-left  pag-left"></i></a>
                </li>
                <li>
                    <a class="btn btn-default btn-sm" href="#"><i class="fa fa-angle-right pag-right"></i></a>
                </li>
            </ul>

        </div>
        <div class="table-responsive pull-left" style="width: 100%;">
            <table class="table table-inbox table-hover">
                <tbody>
                    @{
                        foreach (var item in Model.InboxList)
                        {
                            if (item.IsNew)
                            {
                                <tr class="unread" data-Mail="@item.Id">
                                    <td>
                                        <div class="icheckbox_flat-green" style="position: relative;">
                                            <input type="checkbox" class="mail-checkbox" style="position: absolute; opacity: 0;">
                                            <ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                        </div>
                                    </td>
                                    <td class="message">
                                        <a href="javascript:void(0)">
                                            <span class="title">@item.Name </span>
                                            <br />
                                            @(item.Content.Length > 25 ? item.Content.Substring(0, 25) : item.Content)
                                        </a>
                                    </td>
                                    <td class="text-right">
                                        @item.DateCreated.ToString("M")
                                    </td>
                                </tr>
                                                }
                                                else
                                                {
                                                    <tr data-Mail="@item.Id">
                                                        <td>
                                                            <div class="icheckbox_flat-green" style="position: relative;">
                                                                <input type="checkbox" class="mail-checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                                            </div>
                                                        </td>
                                                        <td class="message">
                                                            <a href="javascript:void(0)">
                                                                <span class="title">@item.Name </span>
                                                                <br />
                                                                @(item.Content.Length > 25 ? item.Content.Substring(0, 25) : item.Content)
                                                            </a>
                                                        </td>
                                                        <td class="text-right">
                                                            @item.DateCreated.ToString("M")
                                                        </td>
                                                    </tr>

                                                    }
                                                }
                    }
                </tbody>
            </table>

        </div>
    </div>
</section>

<section class="panel" id="Trash" style="display: none;margin-left: -16px;"> 
    <header class="panel-heading wht-bg">
        <h4 class="gen-case">
            Trash (@Model.TrashList.Count)
            <form action="#" class="pull-right mail-src-position">
                <div class="input-append">
                    <input type="text" class="form-control " placeholder="Search Mail">
                </div>
            </form>
        </h4>
    </header>
    <div class="panel-body minimal">
        <div class="mail-option">
            <div class="pull-left mail-checkbox ">
                <div class="icheckbox_flat-green" style="position: relative;"><input type="checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins></div>
            </div>
            <div class="btn-group">
                <a href="javascript:void(0)" class="btn btn-default btn-sm Refresh">
                    <i class=" fa fa-refresh"></i>
                </a>
            </div>

            <ul class="inbox-pag pull-right">
                <li>
                    <span>1-50 of 83</span>
                </li>
                <li>
                    <a class="btn btn-default btn-sm" href="#"><i class="fa fa-angle-left  pag-left"></i></a>
                </li>
                <li>
                    <a class="btn btn-default btn-sm" href="#"><i class="fa fa-angle-right pag-right"></i></a>
                </li>
            </ul>

        </div>
        <div class="table-responsive pull-left" style="width: 100%;">
            <table class="table table-inbox table-hover">
                <tbody>
                @{
                    foreach (var item in Model.TrashList)
                    {
                        if (item.IsNew)
                        {
                            <tr class="unread" data-Mail="@item.Id">
                                <td>
                                    <div class="icheckbox_flat-green" style="position: relative;">
                                        <input type="checkbox" class="mail-checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                    </div>
                                </td>
                                <td class="message">
                                    <a href="javascript:void(0)">
                                        <span class="title">@item.Name </span>
                                        <br />
                                        @(item.Content.Length > 25 ? item.Content.Substring(0, 25) : item.Content)
                                    </a>
                                </td>
                                <td class="text-right">
                                    @item.DateCreated.ToString("M")
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr data-Mail="@item.Id">
                                <td>
                                    <div class="icheckbox_flat-green" style="position: relative;">
                                        <input type="checkbox" class="mail-checkbox" style="position: absolute; opacity: 0;"><ins class="iCheck-helper" style="position: absolute; top: 0%; left: 0%; display: block; width: 100%; height: 100%; margin: 0px; padding: 0px; background: rgb(255, 255, 255); border: 0px; opacity: 0;"></ins>
                                    </div>
                                </td>
                                <td class="message">
                                    <a href="javascript:void(0)">
                                        <span class="title">@item.Name </span>
                                        <br />
                                        @(item.Content.Length > 25 ? item.Content.Substring(0, 25) : item.Content)
                                    </a>
                                </td>
                                <td class="text-right">
                                    @item.DateCreated.ToString("M")
                                </td>
                            </tr>

                        }
                    }
                }
                </tbody>
            </table>

        </div>
    </div>
</section>
