@model Bageriet.ViewModels.NewsVM
@{
    ViewBag.Title = "NewsList";
    Layout = "~/Views/Shared/_LayoutPageBackend.cshtml";
}


<div id="page-content">
    <div class="content-header">
        <ul class="breadcrumb breadcrumb-top">
            <li>News</li>
            <li>NewsList</li>
        </ul>
        <div class="content-header-media" style="margin-top: -20px;">
            <div class="header-section" style="background: rgba(0, 0, 0, 0.69);">
                <div class="row">
                    <div class="col-md-4 col-lg-6 hidden-xs hidden-sm">
                        <h1>News</h1>
                    </div>
                </div>
            </div>
            <img src="/Content/Styles/Images/g-crescoli-365898.png" class="" alt="Alternate Text" />
        </div>
    </div>
    
    
    
    <div class="row text-center">
        <div class="col-sm-6 col-lg-4">
            <a href="/Admin/CreateNews" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background">
                    <h4 class="widget-content-light"><strong>Add</strong> News</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 text-success animation-expandOpen"><i class="fa fa-plus"></i></span></div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>Top</strong> Comment</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">....</span></div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="javascript:void(0)" class="widget widget-hover-effect2">
                <div class="widget-extra themed-background-dark">
                    <h4 class="widget-content-light"><strong>All</strong> News</h4>
                </div>
                <div class="widget-extra-full"><span class="h2 themed-color-dark animation-expandOpen">@Model.NewsList.Count</span></div>
            </a>
        </div>
    </div>
    

    <div class="row">



        @{
            foreach (var item in Model.NewsList)
            { 
                <div class="col-md-5 col-md-push-1">
                    <div class="blog-box">
                        <div class="post-image col-md-4">
                            <a href="/Admin/NewsDetail/@item.Id" title="title">
                                <img class="img-responsive" src="~/Uploads/News/@item.ImageUrl" alt="" style="display: block;">
                            </a>
                        </div>
                  
                        <div class="post-content-wrapper col-md-8">
                            <a class="post-title" href="/Admin/Newsdetail/@item.Id" title="">
                                <h3>@item.Title</h3>
                            </a>
                        

                            <div class="post-meta">
                             
                                <span>
                                    <i class="icon-calendar"></i> @item.DateCreated.ToString("D")
                                </span> 
                                <br />
                                <span><i class="icon-user"></i> <a href="#" title="">@item.User.UserName</a></span> 
                                <br />
                                @if (item.Comments.Count == 0)
                                {
                                    <span>
                                        No Comments
                                    </span>
                                }
                                else
                                {
                                    <span><i class="fa fa-comment-o"></i> <a href="#" title="">@item.Comments.Count Comments</a></span>
 
                                }
                         
                            </div>
                            <div class="post-content">
                                <p>
                                    @(item.Content.Length > 75 ? item.Content.Substring(0, 75) : item.Content)
                             
                                </p>
                            </div>
                            <a href="/Admin/Newsdetail/@item.Id" class="btn btn-sm btn-default" title="Read more">Read more</a>
                        
                 
                        </div>
                    </div>
                    <div class="col-md-2 col-md-push-10">
                          
                        <a class="btn btn-sm btn-default" href="/Admin/DeleteNews/@item.Id" aria-label="Settings">
                            <i class="icon-trash" aria-hidden="true"></i>
                            Delete
                        </a>

                        @*<a class="btn btn-info edit" href="@Url.Action("BlogEdit", new {id = item.Id})" aria-label="Settings">
                                    <i class="fa fa-edit" aria-hidden="true"></i>
                                </a>*@
                         
                    </div>
                </div>

        
            }
        }

    </div>
</div>

